@import "../../style/variables.scss";
.product {
  transition: 0.2s all;
  cursor: pointer;
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 1rem;
  border: 1px solid rgba($main-orange, 0.5);
  border-radius: 4px;
  max-width: 300px;
  width: 100%;
  height: 400px;
  &-title {
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-bottom: 0.5rem;
    color: $steel-grey;
  }
  &-image {
    margin: 0 auto;
    margin-bottom: 0.4rem;
    width: clamp(180px, 17vw, 220px);
    height: clamp(180px, 25vw, 210px);
  }
  &-price {
    font-size: 1.3rem;
    position: absolute;
    bottom: 5px;
    color: $steel-grey;
  }
  &:hover {
    transform: scale(1.02);
  }
  &-category {
    padding: 0.1rem 0.2rem;
    background-color: rgba($main-orange, 0.1);
    border: 1px solid rgba($main-orange, 0.3);
    border-radius: 4px;
    color: $main-orange;
    position: absolute;
    bottom: 2.5rem;
  }
}

@media (max-width: 600px) {
  .product {
    height: 330px;
  }
  .placeholder {
    height: 330px;
  }
}

@media (max-width: 525px) {
  .product {
    width: 300px;
    &-title {
      font-size: 1.2rem;
    }
    &-price {
      font-size: 1.2rem;
    }
  }
  .placeholder {
    width: 300px;
    &-title {
      font-size: 1.2rem;
    }
    &-price {
      font-size: 1.2rem;
    }
  }
}

.placeholder {
  position: absolute;
  z-index: 2;
  background: #fff;
  padding: 1rem;
  border: 1px solid rgba($main-orange, 0.5);
  border-radius: 4px;
  max-width: 300px;
  width: 100%;
  height: 400px;
  left: 0;
  top: 0;
  &-img {
    background-color: rgba($steel-grey, 0.1);
    margin: 0 auto;
    margin-bottom: 0.4rem;
    width: clamp(180px, 17vw, 220px);
    height: clamp(180px, 25vw, 210px);
  }
  &-title {
    width: 100%;
    height: 30px;
    margin: 1rem 0;
    background-color: rgba($steel-grey, 0.1);
  }
  &-category {
    width: 50%;
    height: 30px;
    padding: 0.1rem 0.2rem;
    background-color: rgba($main-orange, 0.1);
    border: 1px solid rgba($main-orange, 0.3);
    border-radius: 4px;
    color: $main-orange;
    position: absolute;
    bottom: 2.5rem;
  }
  &-price {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    background-color: rgba($steel-grey, 0.1);
  }

  &:after {
    content: "";
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 30%,
      rgba(255, 255, 255, 0) 81%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}

@keyframes loader-animate {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
