@import "../../../style/variables.scss";
.filter-modal {
  margin: 0;
  animation: appear 0.2s ease-in;
  margin-top: -3.2rem;
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 911px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  &-filter {
    padding: 3rem 1rem;
    background-color: #fff;
    width: clamp(250px, 30vw, 350px);
    height: 100%;
  }
}
