.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding-block-end: 1.5rem;
  padding-block-start: 2rem;
  img {
    transition: 0.3s all;
    width: 2rem;

    &:hover {
      scale: 1.1;
    }
  }
}
